header{
    text-align: center;
    font-weight: 600;
    color: darkgreen;
    
}
.photo-glary{
    border: 2px solid lightcoral;
    border-radius: 10px;
    padding: 15px;
}   
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}
.photo-glary img{
    width: 75%;
    height: 50%;
}
/* small device */
@media screen and (max-width:576px){
    .container{
        grid-template-columns: repeat(1, 1fr);
    }
}
/* mediam device */
@media screen and (min-width:577px) and (max-width:992px){
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* 3start display */
.star-rating{
    height: 25px;
    width: 150px;
    }
    
.star-icon-1 , .star-icon-2{
    display: flex;
}
.input-photo-1, .input-photo-2{
    display: none;
}
/* photo-1 pointer */
.star-rating input+ .lbl-1, .lbl-2 label{
    cursor: pointer;
    font-size: 15px;
    padding: 2px;
    
}
/* photo-1 star color */
.input-photo-1:checked + .lbl-1 label
{
    color: orange;
   
}

.input-photo-2:checked + .lbl-2 label{
    color: orange;
} 

.star-rating label:active{
    transform: scale(0.8);
}


